@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Montserrat:wght@400;600&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*----------------------------------------- 
             Custom properties 
-------------------------------------------*/

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --ff-accent: 'Monsieur La Doulaise', cursive;
}



body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  color: white;
}

.bg-gradient {
  background: radial-gradient(transparent 30%, hsl(0, 0%, 0%)), url(/dist/assets/restaurant-background.jpg);
  background-position: right 35% bottom 65%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  height: 10vh;
  border-bottom: 2px solid rgb(211 171 28);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 24, 19, 0.6);

}

nav ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 23rem;
}

nav li {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

nav li:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid rgb(211 171 28);
  cursor: pointer;
}

.main-content {
  height: 80vh;
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.welcome {
  font-family: var(--ff-accent);
  font-size: 5rem;
  margin: 0;
  text-shadow: 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black;
  color: rgb(211 171 28);
}

h2 {
  font-size: 3rem;
  margin-top: -3.4rem;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.1emm black, 0 0 0.1em black, 0 0 0.1em black;
  letter-spacing: 0;
  font-weight: 600;
}

.menu-blurb {
  margin-top: 1rem;
  text-shadow: 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
  padding-top: -4rem;
  text-shadow: 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black;
}

.about-us {
  font-family: var(--ff-accent);
  font-size: 5rem;
  color: rgb(211 171 28);
  text-shadow: 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black;
}


.about-content p {
  padding-top: 1rem;
  text-align: center;
  margin: 0 5vw;
  max-width: 50rem;
}



footer {
  /* position: absolute;
  bottom: 0; */
  height: 10vh;
  width: 100%;
  border-top: 2px solid rgb(211 171 28);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 24, 19, 0.6);
  color: rgb(211 171 28);
}